@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
    font-family: 'Oxanium', cursive;
}

body{
    background-color: black;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
}

strong{
    font-weight: 700;
}

.git{
    padding: 1%;
    color: white;
    outline: 0;
    border-radius: 7px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-weight: 700;
    background-color: black;
    font-size: 40px;
}